extends layout

block content
  h1= title
  h2 Here are some lovely bungalows
  each bungalow in bungalows
    .bungalow
      form(action=`/bungalows/${bungalow.id}`, method='post')

        a(href=`/bungalows/${bungalow.id}`)
          h3 Bungalow #{bungalow.name}
          h4 #{bungalow.location}
          p #{bungalow.price} TRY
          if bungalow.rating
            p #{bungalow.rating} stars - #{bungalow.reviews.length} reviews
        span Check-in date&nbsp;
        input(type='date' name='checkInDate' value='2022-10-01')
        span Check-out date&nbsp;
        input(type='date' name='checkOutDate' value='2022-11-01')
        input(type="submit", value="Book now")
